/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

body {
    background:rgb(132, 156, 42);
    padding: 3em;
    font-family: 'Raleway', 'Arial';
    color:#fff;
}
ul{
    list-style-type:none;
    margin:0 0 2em 0;
    padding:0;
}
ul li {
    display:inline;
    margin-right: 30px;
}

ul li a{
    font-size: 1.5em;
}
a{
    color:#fff;
    text-decoration:none;
}
button {
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
  }
  button:hover {
    background-color: #cfd8dc;
  }

  h1,h2,h3,h4,h5,h6{
      color:#165361;
  }